.app-wrapper {
  display: grid;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-template-areas: 
  "header header"
  "nav mainContent";
}

.nav {
  grid-area: nav;
  background-color: aqua;
}

.header {
  grid-area: header;
  background-color: #cfd32c;
}

.content {
  grid-area: mainContent;
  background-color: blanchedalmond;
}
  